* {
    margin: 0;
    padding: 0;
}

@font-face {

    font-family: "v";
    src: url('V.ttf') format('truetype');
}

body {
    font-family: Tahoma, Arial, sans-serif;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(1, 2fr);
    width: clamp(1vw, 100vw, 100vw);
    height: clamp(1vh, 100vh, 100vh);
    background: #e0e5ec;
    font-family: v;
    overflow-y: auto;
    overflow-x: auto;
}

.all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    position: relative;
    padding: 30px;
    /* width: 300px; */
    width: clamp(1vw, 420px, 80%);
    /* width: 95%; */
    text-align: center;
    background: #e0e5ec;
    /* background: #191919; */
    border-radius: 20px;
    /* box-shadow: 10px 10px 20px #a3b1c6, -10px -10px 20px #cee9f2; */
    margin-top: 10%;
    margin-bottom: 10%;
    overflow-x: hidden;
    overflow-y: auto;
}

.mainPage {
    width: 95%;
}

h1 {
    margin-top: 0
}

textarea {
    /* width: 300px; */
    width: 100%;
    height: 250px;
    resize: none;
    border: 20px solid #e0e5ec;
    border-radius: 20px;
    padding: 10px;
    box-sizing: border-box;
    background: #e0e5ec;
    font-size: 16px;
    box-shadow: 10px 10px 20px #a3b1c6, -10px -10px 20px #cee9f2;
    /* margin-left: 0px; */
    /* margin-right: 0px; */
    margin-top: 30px;
    outline: none;
}

.btn {
    width: 100%;
    height: 60px;
    /* background: #e0e5ec; */
    background: #000000;
    border-radius: 20px;
    margin: 10px;
    cursor: pointer;
    color: #fff;
    /* box-shadow: 10px 10px 20px #a3b1c6, -10px -10px 20px #ffffff; */
    margin-top: 30px;
    /* transition: transform 0.2s ease-in-out; */
    transition: transform .15s ease, box-shadow .15s ease;
    font-family: v;
    font-size: 18px;
}


.btn:hover {
    transform: translateY(-2px);
}

.btn:active {
    transform: scale(.97);
}


button {
    padding: 10px 18px;
    font-size: 16px;
    cursor: pointer;
    color: #fff;
    /* border: none; */
    border-radius: 6px;
}


button[disabled] {
    opacity: .5;
    cursor: not-allowed;
}

button:hover {
    opacity: .9
}

.slider-box {
    margin-top: 30px;
}

input[type=range] {
    /* -webkit-appearance: none; */
    width: 100%;
    background: transparent;
}

/* خط اسلایدر */
input[type="range"]::-webkit-slider-runnable-track {
    height: 6px;
    background: #000000;
    border-radius: 3px;
}

/* دکمه */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    background: #fff;
    border-radius: 50%;
    margin-top: -6px;
}

#highlightPage {
    display: none;
    background: #e0e5ec;
    font-family: v;
    margin-top: 80px;
    margin-left: 20px;
    margin-right: 20px;
    /* overflow-y: auto; */
}

#backBtn {
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 1000;

    /* padding: 10px 18px; */
    font-size: 16px;
    cursor: pointer;
    background: #000000;
    color: #fff;
    border: none;
    border-radius: 6px;
    margin-right: 20px;
}

#pdfBtn {
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 1000;
    background: #000000;

    /* padding: 10px 18px; */
    font-size: 16px;
    cursor: pointer;
    color: #fff;
    border: none;
    border-radius: 6px;
    margin-left: 20px;
}

#content {
    background: #fff;
    padding: 25px;
    border-radius: 10px;
    line-height: 2.1;
    font-size: 17px;
}

/* مهم‌ترین بخش برای PDF */
.sentence {
    display: block;
    break-inside: avoid;
    page-break-inside: avoid;
    margin-bottom: 22px;
}

.highlight {
    /* background: #9ce6ff; */
    background: linear-gradient(transparent 60%, #9ce6ff 60%);
    padding: 6px 8px;
    border-radius: 6px;
}